.distributor-button-add {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.distributor-container {
  width: 100%;
  height: 100vh;
  margin-left: 10px;
}

.distributor-drawer {
  width: 30%;
  height: 100vh;
  margin-right: 10px;
}

.table {
  width: 100%;
}

.distributor-content mat-card {
  margin-left: 10px;
}

.distributor-heading {
  font-size: large;
  align-self: center;
  text-align: center;
  font-weight: bolder;
}

.distributor-details {
  display: flex;
}

.distributor-details > div {
  flex: 1;
  margin: 10px;
}

.edit-selected-distributor {
  width: 100%;
  margin: 10px;
}
