<h2 mat-dialog-title>Add Invoice</h2>

<mat-dialog-content class="mat-typography" style="height: calc(100% - 130px)">
  <div class="dist-form"></div>

  <!-- Add New Blank Row -->
  <button mat-raised-button color="primary" (click)="addNewRow()">
    Add Row
  </button>

  <!-- Delete Selected Rows -->
  <button mat-raised-button color="warn" (click)="removeRows()">
    Delete Rows
  </button>

  <br />

  <div>
    <form [formGroup]="editInvoiceForm" autocomplete="off">
      <ng-container formArrayName="invoiceRows">
        <table
          #table
          mat-table
          [dataSource]="invoiceDatasource"
          class="mat-elevation-z8"
        >
          column headers & cell definitions (iterates over columnSchema array)
          <ng-container
            [matColumnDef]="col.key"
            *ngFor="let col of columnSchema"
          >
            Checkbox Column
            <ng-container *ngIf="col.key === 'select'">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                  (change)="$event ? toggleAllRows() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                  [aria-label]="checkboxLabel()"
                >
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row.value) : null"
                  [checked]="selection.isSelected(row.value)"
                  [aria-label]="checkboxLabel(row.value)"
                >
                </mat-checkbox>
              </td>
            </ng-container>

            for id field
            <ng-container *ngIf="col.key === 'id'">
              <th mat-header-cell *matHeaderCellDef hidden></th>
              <td
                mat-cell
                hidden
                *matCellDef="let element; let i = index"
                [formGroup]="element"
              ></td>
            </ng-container>

            for Product name autocomplete input
            <ng-container *ngIf="col.key === 'productName'">
              <th mat-header-cell *matHeaderCellDef>{{ col.label }}</th>
              <td
                mat-cell
                *matCellDef="let element; let i = index"
                [formGroup]="element"
              >
                <mat-form-field appearance="outline">
                  <input
                    placeholder="Select Product Name"
                    type="text"
                    matInput
                    formControlName="{{ col.key }}"
                    [matAutocomplete]="autoItem"
                  />
                  <mat-autocomplete
                    autoActiveFirstOption
                    #autoItem="matAutocomplete"
                    (optionSelected)="onSelectItem($event.option.value)"
                  >
                    <mat-option
                      *ngFor="let option of filteredItemOptions | async"
                      [value]="option"
                    >
                      {{ option }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </td>
            </ng-container>

            <!-- for hsnCode inputs -->
            <ng-container *ngIf="col.key === 'hsnCode'">
              <th mat-header-cell *matHeaderCellDef>
                {{ col.label }}
              </th>
              <td
                mat-cell
                *matCellDef="let element; let i = index"
                [formGroup]="element"
              >
                <mat-form-field appearance="outline">
                  <input
                    type="text"
                    matInput
                    formControlName="{{ col.key }}"
                    readonly
                  />
                </mat-form-field>
              </td>
            </ng-container>

            <!-- for gstRate inputs -->
            <ng-container *ngIf="col.key === 'gstRate'">
              <th mat-header-cell *matHeaderCellDef>
                {{ col.label }}
              </th>
              <td
                mat-cell
                *matCellDef="let element; let i = index"
                [formGroup]="element"
              >
                <mat-form-field appearance="outline">
                  <input
                    type="number"
                    matInput
                    formControlName="{{ col.key }}"
                    readonly
                  />
                </mat-form-field>
              </td>
            </ng-container>

            <!-- for remaining inputs -->
            <ng-container>
              <th mat-header-cell *matHeaderCellDef>
                {{ col.label }}
              </th>
              <td
                mat-cell
                *matCellDef="let element; let i = index"
                [formGroup]="element"
              >
                <!-- for all string inputs -->
                <mat-form-field
                  [appearance]="
                    editInvoiceForm.get('invoiceRows')!.value[i].isEditable
                      ? 'fill'
                      : 'outline'
                  "
                  *ngIf="col.type === 'text'"
                >
                  <input
                    matInput
                    [type]="col.type"
                    formControlName="{{ col.key }}"
                    [readonly]="
                      editInvoiceForm.get('invoiceRows')!.value[i].isEditable
                    "
                  />
                </mat-form-field>

                <!-- for all number inputs -->
                <mat-form-field
                  [appearance]="
                    editInvoiceForm.get('invoiceRows')!.value[i].isEditable
                      ? 'fill'
                      : 'outline'
                  "
                  *ngIf="col.type === 'number'"
                >
                  <input
                    [type]="col.type"
                    matInput
                    formControlName="{{ col.key }}"
                    [readonly]="
                      editInvoiceForm.get('invoiceRows')!.value[i].isEditable
                    "
                  />
                </mat-form-field>

                <!-- for all date inputs -->
                <ng-container *ngIf="col.type === 'date'">
                  <mat-form-field
                    [appearance]="
                      editInvoiceForm.get('invoiceRows')!.value[i].isEditable
                        ? 'fill'
                        : 'outline'
                    "
                  >
                    <input
                      [matDatepicker]="datePicker"
                      matInput
                      [type]="col.type"
                      formControlName="{{ col.key }}"
                      [readonly]="
                        editInvoiceForm.get('invoiceRows')!.value[i].isEditable
                      "
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="datePicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #datePicker></mat-datepicker>

                    <!-- for expDate input -->
                    <!--
                <mat-form-field
                  [appearance]="
                    editInvoiceForm.get('invoiceRows')!.value[i].isEditable
                      ? 'fill'
                      : 'outline'
                  "
                  *ngIf="col.key === 'expDate'"
                >
                  <input
                    [matDatepicker]="expDatePicker"
                    matInput
                    [type]="col.type"
                    formControlName="{{ col.key }}"
                    [readonly]="
                      editInvoiceForm.get('invoiceRows')!.value[i].isEditable
                    "
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="expDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #expDatePicker></mat-datepicker>    
                -->
                  </mat-form-field>
                </ng-container>
              </td>
            </ng-container>
          </ng-container>

          <!-- Edit, Save, Discard, Delete button options -->
          <!--
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <button
                mat-icon-button
                class="material-icons app-toolbar-menu save-button"
                matTooltip="Save Changes"
                *ngIf="!editInvoiceForm.get('invoiceRows')!.value[i].isEditable"
                color="primary"
                (click)="saveForm(editInvoiceForm, i)"
              >
                <mat-icon>check_circle</mat-icon>
              </button>

              <button
                mat-icon-button
                class="material-icons app-toolbar-menu cancel-button"
                matTooltip="Cancel Changes"
                *ngIf="!editInvoiceForm.get('invoiceRows')!.value[i].isEditable"
                color="warn"
                (click)="cancelForm(editInvoiceForm, i)"
              >
                <mat-icon>cancel</mat-icon>
              </button>

              <button
                mat-icon-button
                class="material-icons app-toolbar-menu save-button"
                matTooltip="Edit"
                *ngIf="editInvoiceForm.get('invoiceRows')!.value[i].isEditable"
                color="primary"
                (click)="editForm(editInvoiceForm, i)"
              >
                <mat-icon>edit</mat-icon>
              </button>

              <button
                mat-icon-button
                class="material-icons app-toolbar-menu delete-button"
                matTooltip="Delete"
                *ngIf="editInvoiceForm.get('invoiceRows')!.value[i].isEditable"
                color="warn"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          -->

          <!-- row headers & definitions -->

          <tr mat-header-row *matHeaderRowDef="invoiceColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: invoiceColumns"
            (click)="selection.toggle(row)"
          ></tr>
        </table>
      </ng-container>
    </form>
  </div>
  <br />
  <form [formGroup]="editInvoiceAccountsForm">
    <div class="leftColumns">
      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input
          type="number"
          placeholder="amount"
          matInput
          formControlName="amount"
        />
      </mat-form-field>
    </div>

    <div class="rightColumns">
      <mat-form-field appearance="outline">
        <mat-label>Total Discount</mat-label>
        <input
          type="number"
          placeholder="Total Discount"
          matInput
          formControlName="totalDiscount"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Actual Amount</mat-label>
        <input
          type="number"
          placeholder="Actual Amount"
          matInput
          formControlName="actualAmount"
        />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    color="primary"
    mat-raised-button
    type="submit"
    [mat-dialog-close]="true"
    (click)="saveInvoice()"
  >
    Save
  </button>
</mat-dialog-actions>
