<h2 mat-dialog-title>Add Invoice</h2>

<mat-dialog-content class="mat-typography" style="height: calc(100% - 130px)">
  <div class="dist-form"></div>

  <!-- <div class="dist-form">
  <form [formGroup]="editInvoiceAccountsForm">
      <div class="leftColumns" formGroupName="distributor">
        <mat-form-field appearance="outline">
          <mat-label>Distributor Name</mat-label>
          <input
            type="text"
            placeholder="Select Distributor"
            matInput
            formControlName="name"
            [matAutocomplete]="autoDistributor"
          />
          <mat-autocomplete
            autoActiveFirstOption
            #autoDistributor="matAutocomplete"
            (optionSelected)="onSelectDistributor($event.option.value)"
          >
            <mat-option
              *ngFor="let option of filteredDistributorOptions | async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input
            type="text"
            placeholder="Phone Number"
            matInput
            formControlName="phoneNumber"
            readonly
          />
        </mat-form-field>
      </div>

      <div class="rightColumns">
        <mat-form-field appearance="outline">
          <mat-label>Bill Number</mat-label>
          <input
            type="text"
            placeholder="Bill Number"
            matInput
            formControlName="billNo"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Bill Date</mat-label>
          <input
            [matDatepicker]="picker"
            placeholder="Bill Date"
            matInput
            formControlName="billDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </form>
  </div> -->

  <!-- Add New Blank Row -->
  <button mat-raised-button color="primary" (click)="addNewRow()">
    Add Row
  </button>

  <button mat-raised-button (click)="removeRows()" color="warn">Delete</button>

  <div>
    <form [formGroup]="editInvoiceForm" autocomplete="off">
      <ng-container formArrayName="invoiceRows">
        <table
          #table
          mat-table
          [dataSource]="staticInvoiceDatasource"
          class="mat-elevation-z8"
        >
          <!-- column headers & cell definitions (iterates over columnSchema array) -->
          <ng-container
            [matColumnDef]="col.key"
            *ngFor="let col of columnSchema"
          >
            <!-- Checkbox Column -->
            <ng-container *ngIf="col.key === 'select'">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                  (change)="$event ? toggleAllRows() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                  [aria-label]="checkboxLabel()"
                >
                  {{ checkboxLabel() }}
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row.value) : null"
                  [checked]="selection.isSelected(row.value)"
                  [aria-label]="checkboxLabel(row.value)"
                >
                  {{ checkboxLabel(row) }}
                </mat-checkbox>
              </td>
            </ng-container>

            <div *ngIf="col.key !== 'select'">
              <!-- for id field -->
              <div *ngIf="col.key === 'id'">
                <th mat-header-cell *matHeaderCellDef hidden></th>
                <td
                  mat-cell
                  *matCellDef="let element; let i = index"
                  hidden
                  [formGroup]="element"
                ></td>
              </div>

              <th mat-header-cell *matHeaderCellDef>
                {{ col.label }}
              </th>
              <td
                mat-cell
                *matCellDef="let element; let i = index"
                [formGroup]="element"
              >
                <!-- for all inputs except expDate -->
                <mat-form-field
                  [appearance]="
                    editInvoiceForm.get('invoiceRows')!.value[i].isEditable
                      ? 'fill'
                      : 'outline'
                  "
                  *ngIf="col.key !== 'expDate'"
                >
                  <input
                    matInput
                    [type]="col.type"
                    formControlName="{{ col.key }}"
                    [readonly]="
                      editInvoiceForm.get('invoiceRows')!.value[i].isEditable
                    "
                  />
                </mat-form-field>

                <!-- for expDate input -->
                <mat-form-field
                  [appearance]="
                    editInvoiceForm.get('invoiceRows')!.value[i].isEditable
                      ? 'fill'
                      : 'outline'
                  "
                  *ngIf="col.key === 'expDate'"
                >
                  <input
                    [matDatepicker]="expDatePicker"
                    matInput
                    [type]="col.type"
                    formControlName="{{ col.key }}"
                    [readonly]="
                      editInvoiceForm.get('invoiceRows')!.value[i].isEditable
                    "
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="expDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #expDatePicker></mat-datepicker>
                </mat-form-field>
              </td>
            </div>
          </ng-container>

          <!-- Edit, Save, Discard, Delete button options -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <button
                mat-icon-button
                class="material-icons app-toolbar-menu save-button"
                matTooltip="Save Changes"
                *ngIf="!editInvoiceForm.get('invoiceRows')!.value[i].isEditable"
                color="primary"
                (click)="saveForm(editInvoiceForm, i)"
              >
                <mat-icon>check_circle</mat-icon>
              </button>

              <button
                mat-icon-button
                class="material-icons app-toolbar-menu cancel-button"
                matTooltip="Cancel Changes"
                *ngIf="!editInvoiceForm.get('invoiceRows')!.value[i].isEditable"
                color="warn"
                (click)="cancelForm(editInvoiceForm, i)"
              >
                <mat-icon>cancel</mat-icon>
              </button>

              <button
                mat-icon-button
                class="material-icons app-toolbar-menu save-button"
                matTooltip="Edit"
                *ngIf="editInvoiceForm.get('invoiceRows')!.value[i].isEditable"
                color="primary"
                (click)="editForm(editInvoiceForm, i)"
              >
                <mat-icon>edit</mat-icon>
              </button>

              <button
                mat-icon-button
                class="material-icons app-toolbar-menu delete-button"
                matTooltip="Delete"
                *ngIf="editInvoiceForm.get('invoiceRows')!.value[i].isEditable"
                color="warn"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- row headers & definitions -->
          <tr mat-header-row *matHeaderRowDef="staticInvoiceColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: staticInvoiceColumns"
            (click)="selection.toggle(row)"
          ></tr>
        </table>
      </ng-container>
    </form>
  </div>

  <form [formGroup]="editInvoiceAccountsForm">
    <div class="leftColumns">
      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input
          type="text"
          placeholder="amount"
          matInput
          formControlName="amount"
        />
      </mat-form-field>
    </div>

    <div class="rightColumns">
      <mat-form-field appearance="outline">
        <mat-label>Total Discount</mat-label>
        <input
          type="text"
          placeholder="Total Discount"
          matInput
          formControlName="totalDiscount"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Actual Amount</mat-label>
        <input
          type="text"
          placeholder="Actual Amount"
          matInput
          formControlName="actualAmount"
        />
      </mat-form-field>
    </div>
  </form>
  <!-- <app-selection-table></app-selection-table> -->
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    color="primary"
    mat-raised-button
    type="submit"
    [mat-dialog-close]="true"
    (click)="saveInvoice()"
  >
    Save
  </button>
</mat-dialog-actions>
