.mat-column-id mat-form-field {
  width: 40px;
}

.mat-column-pack mat-form-field {
  width: 80px;
}

.mat-column-batchNo mat-form-field {
  width: 120px;
}

.mat-column-expDate mat-form-field {
  width: 160px;
}

.mat-column-qty mat-form-field {
  width: 70px;
}

.mat-column-freeItems mat-form-field {
  width: 60px;
}

.mat-column-mrp mat-form-field {
  width: 100px;
}

.mat-column-rate mat-form-field {
  width: 100px;
}

.mat-column-amount mat-form-field {
  width: 100px;
}

.mat-column-gst mat-form-field {
  width: 70px;
}

.mat-column-hsnCode mat-form-field {
  width: 120px;
}

.leftColumns {
  float: left;
}

.rightColumns {
  float: right;
}
