<!-- mat-button -->
<button
  mat-raised-button
  class="invoice-button-add"
  color="primary"
  (click)="openInvoiceDialog()"
>
  Add Invoice
</button>

<mat-card>
  <span class="invoice-heading">Transactions</span>

  <table mat-table [dataSource]="invoiceDatasource" class="mat-elevation-z8">
    <!-- Columns -->
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnSchema">
      <th mat-header-cell *matHeaderCellDef>
        <div *ngIf="col.isObject === true">
          {{ col.label }}
        </div>
        <div *ngIf="col.isObject === false">
          {{ col.label }}
        </div>
      </th>
      <td mat-cel *matCellDef="let row">
        <div *ngIf="col.isObject === false && col.type !== 'date'">
          {{ row[col.key] }}
        </div>
        <div *ngIf="col.isObject === false && col.type === 'date'">
          {{ row[col.key] | async }}
        </div>
        <div *ngIf="col.isObject === true && col.type !== 'date'">
          {{ row[col.object][col.key] }}
        </div>
        <div *ngIf="col.isObject === true && col.type === 'date'">
          {{ row[col.object][col.key] | date }}
        </div>
        <div *ngIf="col.key === 'action'">
          <button
            mat-raised-button
            color="primary"
            (click)="editSelectedInvoice(row)"
          >
            Edit Invoice
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="invoiceColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: invoiceColumns"></tr>
  </table>
</mat-card>
