<h2 mat-dialog-title>Add Bill</h2>

<mat-dialog-content class="mat-typography" style="height: calc(100% - 130px)">
  <div class="dist-form"></div>

  <form [formGroup]="editBillAccountsForm" autocomplete="off">
    <div formGroupName="patient">
      <div class="leftColumns">
        <!-- Patient Name Field -->
        <ng-container>
          <mat-form-field appearance="outline" class="patientName">
            <mat-label>Customer Name</mat-label>
            <!-- type="text" -->
            <input
              placeholder="Patient Name"
              matInput
              formControlName="patientName"
            />
          </mat-form-field>
        </ng-container>

        <!-- Patient Phone No. Field -->
        <ng-container>
          <mat-form-field appearance="outline" class="patientPhoneNumber">
            <mat-label>Phone No.</mat-label>
            <!-- type="number" -->
            <input
              matInput
              formControlName="phoneNumber"
              placeholder="Select Patient Phone Number"
            />
          </mat-form-field>
        </ng-container>
        <button mat-raised-button color="primary" (click)="onSelectPatient()">
          Search
        </button>
      </div>
    </div>

    <div class="rightColumns">
      <!-- Bill No. Field -->
      <ng-container>
        Bill Number
        <mat-form-field appearance="outline" class="billNumber">
          <!-- <mat-label>Bill No.</mat-label> -->
          <!-- type="number" -->
          <input matInput formControlName="billNumber" />
        </mat-form-field>
      </ng-container>

      <br />

      <!-- Bill Date Field -->
      <ng-container>
        Bill Date
        <mat-form-field appearance="outline" class="billDate">
          <!-- <mat-label>Bill Date</mat-label> -->
          <!-- type="number" -->
          <input
            matInput
            type="date"
            [matDatepicker]="billDatePicker"
            formControlName="billDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="billDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #billDatePicker></mat-datepicker>
        </mat-form-field>
      </ng-container>
    </div>
  </form>

  <br />

  <div class="button-group">
    <!-- Add New Blank Row -->
    <button mat-raised-button color="primary" (click)="addNewRow()">
      Add Row
    </button>

    <!-- Delete Selected Rows -->
    <button mat-raised-button color="warn" (click)="removeRows()">
      Delete Rows
    </button>
  </div>

  <br />

  <div>
    <form [formGroup]="editBillForm" autocomplete="off">
      <ng-container formArrayName="billRows">
        <table
          #table
          mat-table
          [dataSource]="billDatasource"
          class="mat-elevation-z8"
        >
          <!-- Select Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (change)="$event ? toggleAllRows() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row.value) : null"
                [checked]="selection.isSelected(row.value)"
                [aria-label]="checkboxLabel(row.value)"
              >
              </mat-checkbox>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef hidden>ID</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
              hidden
            >
              <mat-form-field appearance="outline">
                <!-- type="text" -->
                <input matInput formControlName="id" readonly hidden />
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef hidden></td>
          </ng-container>

          <!-- Product Name Column -->
          <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef>Product Name</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <mat-form-field appearance="outline">
                <!-- type="text" -->
                <input
                  placeholder="Select Product Name"
                  matInput
                  formControlName="productName"
                  [matAutocomplete]="autoItem"
                  (keyup)="searchItems($event)"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #autoItem="matAutocomplete"
                  (optionSelected)="onSelectItem($event.option.value, i)"
                >
                  <mat-option
                    *ngFor="let option of filteredItemOptions | async"
                    [value]="option"
                  >
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef>
              <form [formGroup]="editBillAccountsForm">
                <!-- <div class="leftColumns"> -->
                <mat-form-field appearance="outline">
                  <mat-label>Total Amount</mat-label>
                  <!-- type="number" -->
                  <input
                    placeholder="Total Amount"
                    matInput
                    formControlName="totalAmount"
                  />
                </mat-form-field>
                <!-- </div> -->
              </form>
            </td>
          </ng-container>

          <!-- Batch No. Column -->
          <ng-container matColumnDef="batchNo">
            <th mat-header-cell *matHeaderCellDef>Batch No.</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <mat-form-field appearance="outline">
                <!-- <mat-label>Batch No.</mat-label> -->
                <!-- formControlName="billItem" -->
                <mat-select
                  multiple="false"
                  formControlName="invoiceItem"
                  (selectionChange)="onSelectBatchNo(i)"
                >
                  <mat-option
                    *ngFor="let option of selectedBatchNos"
                    [value]="option"
                    >{{ option.batchNo }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Manufacturing Date Column -->
          <ng-container matColumnDef="mfgDate">
            <th mat-header-cell *matHeaderCellDef>Manufacturing Date</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <mat-form-field appearance="outline">
                <!-- [matDatepicker]="mfgDatePicker" -->
                <input matInput type="date" formControlName="mfgDate" />
                <!-- <input matInput type="text" formControlName="mfgDate" /> -->
                <!--
      <mat-datepicker-toggle
        matSuffix
        [for]="mfgDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #mfgDatePicker></mat-datepicker>
      -->
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Expiry Date Column -->
          <ng-container matColumnDef="expDate">
            <th mat-header-cell *matHeaderCellDef>Expiry Date</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <mat-form-field appearance="outline">
                <!-- [matDatepicker]="expDatePicker" -->
                <input matInput type="date" formControlName="expDate" />
                <!-- <input matInput type="text" formControlName="expDate" /> -->
                <!--
      <mat-datepicker-toggle
        matSuffix
        [for]="expDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #expDatePicker></mat-datepicker>
      -->
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef>
              <form [formGroup]="editBillAccountsForm">
                <mat-form-field appearance="outline">
                  <mat-label>Total Discount</mat-label>
                  <!-- type="number" -->
                  <input
                    placeholder="Total Discount"
                    matInput
                    formControlName="totalDiscount"
                  />
                </mat-form-field>
              </form>
            </td>
          </ng-container>

          <!-- Qty Column -->
          <ng-container matColumnDef="qty">
            <th mat-header-cell *matHeaderCellDef>Qty</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <mat-form-field appearance="outline">
                <!-- type="number" -->
                <input matInput formControlName="qty" />
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- MRP Column -->
          <ng-container matColumnDef="mrp">
            <th mat-header-cell *matHeaderCellDef>MRP</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <mat-form-field appearance="outline">
                <!-- type="number" -->
                <input matInput formControlName="mrp" />
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Discount Column -->
          <ng-container matColumnDef="discount">
            <th mat-header-cell *matHeaderCellDef>Discount</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <mat-form-field appearance="outline">
                <!-- type="number" -->
                <input
                  matInput
                  formControlName="discount"
                  (keyup)="calculateTotalAmount(i)"
                />
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Amount Column -->
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <mat-form-field appearance="outline">
                <!-- type="number" -->
                <input matInput formControlName="amount" />
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef>
              <form [formGroup]="editBillAccountsForm">
                <mat-form-field appearance="outline">
                  <mat-label>Discounted Amount</mat-label>
                  <!-- type="number" -->
                  <input
                    placeholder="Discounted Amount"
                    matInput
                    formControlName="discountedAmount"
                  />
                </mat-form-field>
              </form>
            </td>
          </ng-container>

          <!-- row headers & definitions -->
          <tr mat-header-row *matHeaderRowDef="billColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: billColumns"
            (click)="selection.toggle(row)"
          ></tr>
          <tr mat-footer-row *matFooterRowDef="billColumns"></tr>
        </table>
      </ng-container>
    </form>
  </div>
  <br />
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    color="primary"
    mat-raised-button
    type="submit"
    [mat-dialog-close]="true"
    (click)="saveBill()"
  >
    Save
  </button>
  <button color="primary" mat-raised-button (click)="generatePDF()">
    Generate PDF
  </button>
</mat-dialog-actions>
