<button mat-button class="example-full-width" color="primary" (click)="openItemDialog()">Add Item</button>

<mat-drawer-container class="example-container">

    <mat-drawer class="example-drawer" mode="side" opened>
        <mat-card>
            Items
            <hr/>
            <mat-selection-list #items [multiple]="false">
                <mat-list-option *ngFor="let element of item" [value]="element">
                    {{element.name}}
                </mat-list-option>
            </mat-selection-list>
        </mat-card>
    </mat-drawer>

    <mat-drawer-content class="example-content">
        <mat-card>
            Details
            <hr/>
            <div *ngFor="let item of items.selectedOptions.selected">
                Item Name:
                {{ item.value.name }}
                <br/>
                Item Description:
                {{ item.value.description }}
                <br/>
                HSN Code:
                {{ item.value.hsn.hsnCode }}
                <br/>
                GST Rate:
                {{ item.value.hsn.gstRate }}
                <br/>
                Manufacturer:
                {{ item.value.manfacturer.name }}
                <br/>
                <button mat-button class="example-full-width" color="primary" (click)="editItemDialog(item.value)">Edit Item</button>
            </div>
        </mat-card>

        <br/>

        <mat-card>
            Transactions
        </mat-card>
    </mat-drawer-content>

</mat-drawer-container>