<h2 mat-dialog-title>Add Invoice</h2>

<mat-dialog-content class="mat-typography" style="height: calc(100% - 130px)">
  <div class="dist-form"></div>

  <div class="button-group">
    <!-- Add New Blank Row -->
    <button mat-raised-button color="primary" (click)="addNewRow()">
      Add Row
    </button>

    <!-- Delete Selected Rows -->
    <button mat-raised-button color="warn" (click)="removeRows()">
      Delete Rows
    </button>
  </div>

  <br />

  <div>
    <form [formGroup]="editInvoiceForm" autocomplete="off">
      <ng-container formArrayName="invoiceRows">
        <table
          #table
          mat-table
          [dataSource]="invoiceDatasource"
          class="mat-elevation-z8"
        >
          <!-- Select Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (change)="$event ? toggleAllRows() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row.value) : null"
                [checked]="selection.isSelected(row.value)"
                [aria-label]="checkboxLabel(row.value)"
              >
              </mat-checkbox>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef hidden>ID</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
              hidden
            >
              <mat-form-field appearance="outline">
                <!-- type="text" -->
                <input matInput formControlName="id" readonly hidden />
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef hidden></td>
          </ng-container>

          <!-- Product Name Column -->
          <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef>Product Name</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <mat-form-field appearance="outline">
                <!-- type="text" -->
                <input
                  placeholder="Select Product Name"
                  matInput
                  formControlName="productName"
                  [matAutocomplete]="autoItem"
                  (keyup)="searchItems($event)"
                />
                <!-- (keyup.enter)="searchItems($event)" -->
                <mat-autocomplete
                  autoActiveFirstOption
                  #autoItem="matAutocomplete"
                  (optionSelected)="onSelectItem($event.option.value, i)"
                >
                  <mat-option
                    *ngFor="let option of filteredItemOptions | async"
                    [value]="option"
                  >
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef>
              <form [formGroup]="editInvoiceAccountsForm">
                <div class="leftColumns">
                  <mat-form-field appearance="outline">
                    <mat-label>Amount</mat-label>
                    <!-- type="number" -->
                    <input
                      placeholder="amount"
                      matInput
                      formControlName="amount"
                    />
                  </mat-form-field>
                </div>
              </form>
            </td>
          </ng-container>

          <!-- Pack Column -->
          <ng-container matColumnDef="pack">
            <th mat-header-cell *matHeaderCellDef>Pack</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <mat-form-field appearance="outline">
                <!-- type="text" -->
                <input matInput formControlName="pack" />
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Batch No. Column -->
          <ng-container matColumnDef="batchNo">
            <th mat-header-cell *matHeaderCellDef>Batch No.</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <mat-form-field appearance="outline">
                <!-- type="text" -->
                <input matInput formControlName="batchNo" />
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Manufacturing Date Column -->
          <ng-container matColumnDef="mfgDate">
            <th mat-header-cell *matHeaderCellDef>Manufacturing Date</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <mat-form-field appearance="outline">
                <input
                  [matDatepicker]="mfgDatePicker"
                  matInput
                  type="date"
                  formControlName="mfgDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="mfgDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #mfgDatePicker></mat-datepicker>
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Expiry Date Column -->
          <ng-container matColumnDef="expDate">
            <th mat-header-cell *matHeaderCellDef>Expiry Date</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <mat-form-field appearance="outline">
                <input
                  [matDatepicker]="expDatePicker"
                  matInput
                  type="date"
                  formControlName="expDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="expDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #expDatePicker></mat-datepicker>
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef>
              <form [formGroup]="editInvoiceAccountsForm">
                <mat-form-field appearance="outline">
                  <mat-label>Total Discount</mat-label>
                  <!-- type="number" -->
                  <input
                    placeholder="Total Discount"
                    matInput
                    formControlName="totalDiscount"
                  />
                </mat-form-field>
              </form>
            </td>
          </ng-container>

          <!-- Qty Column -->
          <ng-container matColumnDef="qty">
            <th mat-header-cell *matHeaderCellDef>Qty</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <mat-form-field appearance="outline">
                <!-- type="number" -->
                <input matInput formControlName="qty" />
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Free Items Column -->
          <ng-container matColumnDef="freeItems">
            <th mat-header-cell *matHeaderCellDef>Free Items</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <mat-form-field appearance="outline">
                <!-- type="number" -->
                <input matInput formControlName="freeItems" />
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- MRP Column -->
          <ng-container matColumnDef="mrp">
            <th mat-header-cell *matHeaderCellDef>MRP</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <mat-form-field appearance="outline">
                <!-- type="number" -->
                <input matInput formControlName="mrp" />
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Rate Column -->
          <ng-container matColumnDef="rate">
            <th mat-header-cell *matHeaderCellDef>Rate</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <mat-form-field appearance="outline">
                <!-- type="number" -->
                <input matInput formControlName="rate" />
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef>
              <form [formGroup]="editInvoiceAccountsForm">
                <mat-form-field appearance="outline">
                  <mat-label>Actual Amount</mat-label>
                  <!-- type="number" -->
                  <input
                    placeholder="Actual Amount"
                    matInput
                    formControlName="actualAmount"
                  />
                </mat-form-field>
              </form>
            </td>
          </ng-container>

          <!-- Discount Column -->
          <ng-container matColumnDef="discount">
            <th mat-header-cell *matHeaderCellDef>Discount</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <mat-form-field appearance="outline">
                <!-- type="number" -->
                <input matInput formControlName="discount" />
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- GST % Column -->
          <ng-container matColumnDef="gstRate">
            <th mat-header-cell *matHeaderCellDef>GST %</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <mat-form-field appearance="outline">
                <!-- type="number"  -->
                <input matInput formControlName="gstRate" />
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- HSN Code Column -->
          <ng-container matColumnDef="hsnCode">
            <th mat-header-cell *matHeaderCellDef>HSN Code</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [formGroup]="element"
            >
              <mat-form-field appearance="outline">
                <!-- type="text" -->
                <input matInput formControlName="hsnCode" />
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- row headers & definitions -->
          <tr mat-header-row *matHeaderRowDef="invoiceColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: invoiceColumns"
            (click)="selection.toggle(row)"
          ></tr>
          <tr mat-footer-row *matFooterRowDef="invoiceColumns"></tr>
        </table>
      </ng-container>
    </form>
  </div>
  <br />
  {{ data }}
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    color="primary"
    mat-raised-button
    type="submit"
    [mat-dialog-close]="true"
    (click)="saveInvoice()"
  >
    Save
  </button>
  <button color="primary" mat-raised-button (click)="generatePDF()">
    Generate PDF
  </button>
</mat-dialog-actions>
<!-- </mat-dialog-content> -->
