<table mat-table [dataSource]="invoiceDatasource">
    
    <!-- Dynamically load columns -->
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnSchema">
        <th mat-header-cell *matHeaderCellDef>{{col.label}}</th>
        <td mat-cell *matCellDef="let row">
            <!-- If the edit row button is selected to not edit -->
            <div [ngSwitch]="col.type" *ngIf="!row.isEdit">
                <div *ngSwitchCase="'isEdit'">
                    <!-- Toggle button edit row -->
                    <button mat-button (click)="row.isEdit = !row.isEdit">Edit</button>
                </div>
                
                <span *ngSwitchDefault>{{row[col.key]}}</span>
            </div>
            
            <!-- If the edit row button is selected to edit -->
            <div [ngSwitch]="col.type" *ngIf="row.isEdit">
                <div *ngSwitchCase="'isEdit'">
                    <!-- Toggle button edit row -->
                    <button mat-button (click)="row.isEdit = !row.isEdit">Done</button>
                </div>

                <!-- If the input field type is date; use date-picker -->
                <mat-form-field *ngSwitchCase="'date'" appearance="fill">
                    <mat-label>Choose a Date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="row[col.key]"/>
                    <!-- <input matInput [matDatepicker]="picker" formControlName="row[col.key]"/> -->
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <!-- For the remaining input field types -->
                <mat-form-field *ngSwitchDefault>
                    <input [type]="col.type" matInput [(ngModel)]="row[col.key]"/>
                    <!-- <input [type]="col.type" matInput formControlName="row[col.key]"/> -->
                </mat-form-field>
            </div>
        </td>
    </ng-container>
    
</table>
<button class="button-add-row" mat-button (click)="addRow()">Add</button>