<h2 mat-dialog-title>Add Invoice</h2>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="editInvoiceForm" autocomplete="off">
    <ng-container formArrayName="invoiceRows">
      <table
        #table
        mat-table
        [dataSource]="invoiceDatasource"
        class="mat-elevation-z8"
      >
        <!-- # column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            [formGroup]="element"
          ></td>
        </ng-container>
        >
        <!-- Amount column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            [formGroup]="element"
          ></td>
        </ng-container>
        >
        <!-- Total Discount column -->
        <ng-container matColumnDef="totalDiscount">
          <th mat-header-cell *matHeaderCellDef>Total Discount</th>
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            [formGroup]="element"
          ></td>
        </ng-container>
        >
        <!-- Actual Amount column -->
        <ng-container matColumnDef="actualAmount">
          <th mat-header-cell *matHeaderCellDef>Actual Amount</th>
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            [formGroup]="element"
          ></td>
        </ng-container>

        <!-- row headers & row definitions -->
        <tr mat-header-row *matHeaderRowDef="invoiceColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: invoiceColumns"></tr>

        <!-- pagination -->
        <mat-paginator
          [pageSizeOptions]="[5, 25, 50, 75]"
          aria-label="select page of invoice"
        ></mat-paginator>
      </table>
    </ng-container>
  </form>

  <button
    class="button-add-row"
    color="primary"
    mat-raised-button
    type="submit"
    (click)="addRow()"
  >
    Add Row
  </button>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    color="primary"
    mat-raised-button
    type="submit"
    [mat-dialog-close]="true"
  >
    Save
  </button>
</mat-dialog-actions>
